@import "variables";
@import "legend";
@import "marker";


@media (min-width: $deviceWidth) {
  .mapasp {
    flex-direction: column;
  }
}

.mapasp {
  flex: 1;
  flex-direction: row;
  height: 500px;
  width: 92%;
  margin:auto;
}

.flex-child {
  flex: 1;
}
